<div class="d-flex justify-content-between p-3" style="background-color:#6610f2">
  <a class="text-white navbar-brand" (click)="redireccionar('.')">Agenda</a>
  <div class="d-flex">
    <button class="text-white nav-link px-2" (click)="redireccionar('.')">Home</button>
    <button class="text-white nav-link px-2" (click)="redireccionar('buscar')">Buscar</button>
    <button class="text-white nav-link px-2" (click)="redireccionar('gestionar')">Gestionar</button>
    <button class="text-white nav-link px-2" (click)="redireccionar('gestionar')">Mis confirmaciones</button>
  </div>
  <div></div>
</div>
